# Keep email private
[user]
	email = 48783536+AyjayJr@users.noreply.github.com
	name = AyjayJr

# Suppress warning
[init]
	defaultBranch = main

# Vimdiff as mergetool and don't save .orig files
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false

# lfs stuff
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
